/* Alt der gælder for mobil og højere */

* { /* Gælder alt på hele siden */
  -webkit-box-sizing: border-box; /* -webkit- browserunderstøttelse */
  box-sizing: border-box; /* Bokse har altid den størrelse man giver uanset om der tilføjes margen mv. */
  line-height: 1.5;
  font-family: lato;
  list-style-type: none;
}

body {
  margin: 0; /* Ingen kanter i siden af browser */
  background-color: white;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0; /* Ingen ydre margen fra overskrifter */
  padding: 0; /* Ingen indre margen fra overskrifter */
}

ul, ol {
  margin: 0; /* Ingen ydre margen fra lister */
  padding: 0; /* Ingen indre margen fra lister */
  list-style-position: inside; /* List punkter står på linje */
  text-decoration: none;
}

li {
  margin: 0; /* Ingen ydre margen fra listpunkter */
}


p {
  margin: 0; /* Ingen ydre margen fra paragraffer */
  padding: 0; /* Ingen indre margen fra paragraffer */
}

a {
  text-decoration: none;
  color: #ffffff;
}

/* Sikrer billeder er responsive */
img {
  display: block; /* Billeder er et element (laver linjeskift) */
  max-width: 100%; /* Bredde må maks fylde 100% */
  height: auto; /* Højden skal tilpasse sig */
}
section {
  padding: 50px;
}

.divide{
  width: 100%;
  height: 50px;
  background-color: #60a3bc;
}

nav {
  background-color: rgb(10, 61, 98);
  color: #ffffff;
  padding: 10px;
  overflow: hidden;
  cursor: pointer;
  font-size: 15pt;
  width: 100%;
  z-index: 300;
}

nav li{
  display: none;
}


nav img {
  top: 25px;
  right: 15px;
  float: right;
  width: 25px;
  height: auto;
}


nav li :hover {
  color: #fea997;
  text-decoration-line: underline;
}

.active{
  text-transform: uppercase;
  font-weight: bolder;
  display: block;
}


.profilBillede img {
  margin: 0 auto;
  border-radius: 50%;

}

.about {
  padding: 15px;
  color: black;
  text-align: justify;

}

.about h1 {
  text-align: center;
  text-transform: uppercase;
}

.soMe {
  background-color: rgb(10, 61, 98);
  text-align: center;
  padding: 20px;
  color: #ffffff;
  bottom: -40px;
  position: relative;
}

.soMe i {
  font-size: 28pt;
  margin-right: 20px;

}

.soMe a :hover {
  color: dimgrey;
}


.pageUp {
  bottom: 0;
  right: 15px;
  position: fixed;
  font-size: 18pt;
  opacity: 0.6;
  background-color: dimgrey;
  border-radius: 50%;
}


.pageUp i {
  color: #ffffff;
  padding-left: 5px;
  padding-right: 5px;
}

.pageUp :hover {
  color: #000000;
}

iframe {
  width: 300px;
  height: 300px;
}

#kontakt h3{
  text-transform: uppercase;
}

#Projekter h1{
  font-size: 40pt;
  letter-spacing: 15px;
  text-align: center;
  text-transform: uppercase;
}

#Projekter p{
  text-align: center;
  font-weight: bolder;
}

.opgaver{
  display: flex;
  flex-direction: column;
}

.opgave1{
  background-image: linear-gradient(to right, red , brown);
  height: 250px;
  width: 250px;
  margin-left: 20%;
  color: black;

  p{
    text-align: center;
    font-weight: bold;
    font-size: 18pt;
    position: relative;
    top: 40%;
  }

}

.opgave2{
  background-image: linear-gradient(to right, #1f96d4, blue);
  height: 250px;
  width: 250px;
  margin-left: 20%;
  color: black;

  p{
    text-align: center;
    font-weight: bold;
    font-size: 18pt;
    position: relative;
    top: 40%;
  }
}

.opgave3{
  background-image: linear-gradient(to right, brown, #761d1d);
  height: 250px;
  width: 250px;
  margin-left: 20%;
  color: black;

  p{
    text-align: center;
    font-weight: bold;
    font-size: 18pt;
    position: relative;
    top: 40%;
  }
}

.opgave4{
  background-image: linear-gradient(to right, #528ecc, #26435e);
  height: 250px;
  width: 250px;
  margin-left: 20%;
  color: black;

  p{
    text-align: center;
    font-weight: bold;
    font-size: 18pt;
    position: relative;
    top: 40%;
  }
}

.opgave1 :hover{
  color: white;
}

.opgave2 :hover{
  color: white;
}

.opgave3 :hover{
  color: white;
}

.opgave4 :hover{
  color: white;
}
@media screen and (min-width: 768px) {
  /* Alt der ændres i tablet stående fra mobil */
}

@media screen and (min-width: 992px) {
  /* Alt der ændres i tablet liggende fra mobil og tablet stående */
  .fa-bars:before {
    display: none;
  }

  nav li{
    display: block;
  }

  nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  nav img{
    position: absolute;
    top: 24px;
    right: 15px;
    float: right;
    width: 45px;
    height: auto;
  }

  .about {
    margin-right: 350px;
    margin-left: 350px;
  }

  #CV {
    position: relative;
    left: 35%;
  }

  h4{
    text-align: center;
  }

  iframe{
    width: 600px;
    height: 450px;
  }

  #kontakt{
    text-align: center;
  }

  #Projekter h1{
    font-size: 50pt;
    letter-spacing: 40px;
  }

  .opgaver{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .opgave1{
    margin-left: 0;
  }
  .opgave2{
    margin-left: 0;
  }
  .opgave3{
    margin-left: 0;
  }
  .opgave4{
    margin-left: 0;
  }
}

@media screen and (min-width: 1200px) {
  /* Alt der ændres i computer fra mobil, tablet stående og tablet liggende */
}

@media print {
  /* Alt der gælder for print specifikt */
}
